{% extends "locations/base.html" %}
{% load pagination_tags %}

{% block head_title %}All Locations{% endblock %}
{% block extra_head %}
		<script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=.Z4iD9nV34EdofUSyd_B5bLj5hrf6wiNszlLacUyxedUanphrJ_ibbMjlntY9eufKwtW"></script>
		<style type="text/css">
			div#ymap {
						width: 300px; height: 200px; float: right; border: 1px solid grey;
					}
		 </style>
{% endblock %}

{% block body %}
	<form action="/locations/new/" method="POST" accept-charset="utf-8">
		<p>{{ location_form }}
		<input type="submit" value="Search &rarr;"></p>
	</form>
<div id="ymap"></div>
{% autopaginate locations %}
{% for location in locations %}
	{% if forloop.first %}
			<script type="text/javascript">
					function initialize_ymap()
					{
						// Create a map object
						var map = new YMap(document.getElementById('ymap'));
						var yPoint = new YGeoPoint({{ location.latitude }},{{ location.longitude }});
							// Display the map centered on a geocoded location
									map.drawZoomAndCenter(yPoint, 8);
									// Create a new marker for an address
									var myMarker = new YMarker(yPoint);
								// Create some content to go inside the SmartWindow
								var myMarkerContent = "{{request.user}} checked in at {{location.place}}";
								// When the marker is clicked, show the SmartWindow
								YEvent.Capture(myMarker, EventsList.MouseClick,
									function() {
										myMarker.openSmartWindow(myMarkerContent); 
									});
								// Put the marker on the map
								map.addOverlay(myMarker);
					}
					</script>
	{% endif %}
 <p><a href="{{request.user.get_absolute_url}}">{{ request.user }}</a> checked in at {{ location.place }} at {{ location.time_checkin|date:"F d Y g:i a" }}</p>
{% endfor %}
{% paginate %}
{% endblock %}